/*sidebar*/
.sidebar {
    height:  calc(100vh - 56px);
    background-color: #343a40;
    width: 150px;
  }
  .sidebar a {
    padding: 10px 20px;
  }
  .sidebar a:hover {
    background-color: #495057;
  }

  @media screen and (max-width: 991px) {
    .sidebar {
        width: 80px;
      }
  }
