/*navbar*/
.navbar{
 height: 70px;
}
/*sidebar*/
.sidebar {
    height: calc(100vh - 50px);
    width: 150PX;
    background-color: #343a40;
  }
  .sidebar a {
    padding: 20px;
  }
  .sidebar a:hover {
    background-color: #495057;
  }
/*Main*/
.quadrato{
  width: 50px;
  height: 50px;
}
.main_header{
  min-height: 150px;
}

/*media query*/ 
@media screen and (max-width: 991px) {
    .sidebar {
        width: 80px;
      }
  }